# Python
__pycache__/
*.pyc

# Output files
AutoIdea/output/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local