# 虚拟环境
venv/
env/

# 输出目录
AutoIdea/output/
AutoIdea_Batch/output/
AutoIdea_Batch/output_v2/
AutoIdea_Batch/output_v3/

# Python缓存文件
__pycache__/
*.pyc

# 编辑器文件
.vscode/
.idea/

# 其他临时文件
*.log
*.tmp
*.temp
